h1 {
  font-size: 3rem;
}
.info {
  position: relative;
  white-space: pre-line;

  h2 {
    color: var(--color-dark-gray);
    font-size: 2.5rem;
    margin: 0;
  }

  p {
    color: var(--color-medium-gray);
    font-size: 1.25rem;
  }
}

.net-background {
  position: absolute;
  top: 12rem;
  left: 15rem;

  z-index: -1;
}
