h1 {
  font-size: 3rem;
}

.hero {
  position: relative;
  margin-bottom: 3rem;
  aspect-ratio: 1240/ 486;

  display: grid;
  grid-template-areas: "stack";

  > * {
    grid-area: stack;
  }

  .shape-mask {
    // position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    // aspect-ratio: 1240/ 486;

    background-image:
      linear-gradient(
        to bottom,
        // bottom → top
        rgba(37, 37, 37, 0.32),
        // at bottom: semi‑transparent
        rgba(37, 37, 37, 1) // at top: fully opaque dark gray
      ),
      url("/images/Category-B-Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    mask-image: url("/images/shapes/service-details-shape.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  app-navbar {
    align-self: start;
    z-index: 2;
  }

  .content {
    place-self: center; // center vertically and horizontally
    text-align: center;
    z-index: 1;

    .title {
      color: white;
      text-align: center;
      font-size: 4rem;
      margin: 0;
    }

    .description {
      color: var(--color-off-white);
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.info {
  position: relative;
  white-space: pre-line;

  h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  p {
    color: var(--color-medium-gray);
    font-size: 1.25rem;
  }
}

.net-background {
  position: absolute;
  top: 30rem;
  left: 15rem;

  z-index: -2;
}
