<div class="header-container">
  <img src="/images/logos/logo-1.svg" alt="Dualisa-Logo" class="logo" />

  <nav>
    @if(content()){
    <!-- Background Shape -->
    <svg
      class="bg-shape"
      viewBox="0 0 651 91"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M650.668 0C628.143 0.000153352 611.803 28.8873 604.252 50.1084L603.185 53.1084C595.101 75.8262 573.596 90.9999 549.482 91H101.186C77.0723 91 55.5672 75.8262 47.4834 53.1084L46.416 50.1084C38.865 28.8873 22.5244 0.000410837 0 0H650.668Z"
      />
    </svg>

    <!-- Nav Items -->
    @for (item of content().items; track $index) { @if (item !== "Services") {
    <a [routerLink]="item.route">{{ item.title }} </a>
    } @else {
    <div class="services">
      <a [routerLink]="item.route"
        ><div class="content">{{ item.title }}</div>
        <img
          src="/images/icons/chevron-down.svg"
          alt="chevron-down"
          class="chevron-icon"
        />
      </a>

      <ul class="dropdown">
        @for (service of content().dropdownItems; track $index) {
        <li class="service">{{service}}</li>
        }
      </ul>
    </div>

    } }}
  </nav>

  <div class="social-media">
    <button>
      <img src="/images/icons/linkedin-logo.svg" alt="linkedin logo" />
    </button>
    <button>
      <img src="/images/icons/facebook-logo.svg" alt="facebook logo" />
    </button>
    <button>
      <img src="/images/icons/instagram-logo.svg" alt="instagram logo" />
    </button>
  </div>
</div>
