<div class="header-container">
  <img
    src="/images/logos/logo-1.svg"
    alt="Dualisa-Logo"
    class="logo"
    routerLink="/"
  />

  <nav>
    @if(content()){
    <!-- Background Shape -->
    <svg
      class="bg-shape"
      viewBox="0 0 651 91"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M650.668 0C628.143 0.000153352 611.803 28.8873 604.252 50.1084L603.185 53.1084C595.101 75.8262 573.596 90.9999 549.482 91H101.186C77.0723 91 55.5672 75.8262 47.4834 53.1084L46.416 50.1084C38.865 28.8873 22.5244 0.000410837 0 0H650.668Z"
      />
    </svg>

    <!-- Nav Items -->
    @for (item of content(); track $index) {
    <div class="nav-item" [class.has-dropdown]="item.children">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.children ? false : true }"
      >
        <span class="title">{{ item.title }}</span>

        @if(item.children){
        <span class="chevron-icon">
          <img src="/images/icons/chevron-down.svg" />
        </span>
        }
      </a>

      @if ( item.children ) {
      <ul class="dropdown">
        @for (subItem of item.children; track $index) {
        <li [routerLink]="[item.route, subItem.id]" class="dropdown-item">
          {{subItem.title}}
        </li>
        }
      </ul>
      }
    </div>
    } }
  </nav>

  <div class="social-media">
    <button>
      <img src="/images/icons/linkedin-logo.svg" alt="linkedin logo" />
    </button>
    <button>
      <img src="/images/icons/facebook-logo.svg" alt="facebook logo" />
    </button>
    <button>
      <img src="/images/icons/instagram-logo.svg" alt="instagram logo" />
    </button>
  </div>

  <!-- <div class="hamburger-menu">
    <button>
      <img src="/images/icons/hamburger-menu.svg" (click)="openMenu($event)" />
    </button>

    <div
      class="overlay"
      [class.visible]="isMenuOpen()"
      (click)="closeMenus($event)"
    ></div>

    <div class="menu" [class.open]="isMenuOpen()">
      <div class="menu-items">
        @for (item of content().menu; track $index) { @if (item.title !==
        "Services") {
        <a [routerLink]="item.route" (click)="closeMenus($event)"
          >{{ item.title }}
        </a>
        } @else {
        <div class="services-item" (click)="toggleSubmenu($event)">
          <a
            ><div class="content">{{ item.title }}</div>

            <svg
              class="chevron-icon"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.6666 5.66666L7.99998 10.3333L3.33331 5.66666"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>

        <div class="submenu" [class.open]="isSubmenuOpen()">
          <a
            class="submenu-item"
            [routerLink]="item.route"
            (click)="closeMenus($event)"
            >{{content().allServices}}</a
          >
          @for (subItem of item.children; track $index) {
          <a
            class="submenu-item"
            [routerLink]="['/services', subItem.id]"
            (click)="closeMenus($event)"
            >{{subItem.title}}</a
          >
          }
        </div>

        }}
      </div>
    </div>
  </div> -->
</div>
