.content-container {
  width: 100%;
  box-sizing: border-box;
  padding: var(--page-top-padding) var(--page-side-padding);

  position: relative;

  // <app-navbar> styles => component stylesheet
}

@media (max-width: 1240px) {
  .content-container {
    padding: 4rem 4rem;
  }
}

@media (max-width: 800px) {
  .content-container {
    padding: 3rem 2rem;
  }
}

@media (max-width: 550px) {
  .content-container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 450px) {
  .content-container {
    padding: 1rem 0.4rem;
  }
}
