:host {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
}

.form-container {
  background-color: white;
  padding: 3rem;

  .headline {
    font-size: 2rem;
    // font-weight: bold;
  }
  .subheadline {
    color: var(--color-medium-gray);
    font-size: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    color: var(--color-dark-gray);

    * {
      font-family: var(--font-primary);
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 100%;
      .input {
        padding: 0.8rem;
        border: 1px solid var(--color-off-white);
        border-radius: 0.7rem;

        color: var(--color-medium-gray);
        font-size: 1rem;

        &.textarea::-webkit-resizer {
          background: url("/images/icons/textarea-resizer-icon.svg") no-repeat
            center;
        }

        &.not-valid {
          border-color: var(--color-danger);
        }
      }
    }

    button {
      width: 45%;
    }

    .online-contact {
      display: flex;
      gap: 0.5rem;
    }

    .errorMessage {
      color: var(--color-danger);
      margin-top: -0.75rem;
      font-size: 1rem;
    }

    .captcha-verification {
      margin: 0 auto;
    }
  }
}
