<div class="form-container" [class.modal-mode]="modalMode()">
  <div class="headline">{{headline()}}</div>
  <div class="subheadline">{{subheadline()}}</div>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-wrapper">
      <label>{{content().inputFields.name.label}}</label>
      <input
        type="text"
        class="input"
        formControlName="name"
        [placeholder]="content().inputFields.name.placeholder"
      />
    </div>

    <div class="online-contact">
      <div class="input-wrapper">
        <label>{{content().inputFields.email.label}}</label>
        <input
          type="text"
          class="input"
          [class.not-valid]="submitted()"
          formControlName="email"
          [placeholder]="content().inputFields.email.placeholder"
        />
      </div>

      <div class="input-wrapper">
        <label>{{content().inputFields.phoneNumber.label}}</label>
        <input
          type="text"
          class="input"
          [class.not-valid]="submitted()"
          formControlName="phoneNumber"
          [placeholder]="content().inputFields.phoneNumber.placeholder"
        />
      </div>
    </div>

    @if (submitted()) {
    <small class="errorMessage">{{content().errorMessage}}</small>
    }

    <div class="input-wrapper">
      <label>{{content().inputFields.message.label}}</label>
      <textarea
        class="input textarea"
        formControlName="message"
        [placeholder]="content().inputFields.message.placeholder"
        rows="4"
      ></textarea>
    </div>

    <div class="captcha-verification">
      <div class="h-captcha" data-captcha="true"></div>
      <!-- data-captcha-callback="onCaptchaTokenReceived" -->

      <input
        type="hidden"
        formControlName="_honey"
        tabindex="-1"
        autocomplete="off"
      />
    </div>

    <button type="submit" class="send-request-btn">
      <span class="btnText">{{content().submitBtn}}</span>
      <span class="triple-arrow-icon"> >>></span>
    </button>
  </form>
</div>
