.hero {
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: var(--color-dark-gray);
  border-radius: 2.5rem;

  padding-top: var(--navbar-height);

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  // gap: 1rem;
  gap: clamp(0.75rem, 2vw, 2rem);
  justify-content: center;
  width: 100%;
  margin-top: 4rem;

  .service-card {
    position: relative;
    width: 100%;
    max-width: 35rem;
    justify-self: center;

    .service-image {
      position: relative;
      width: 100%;
      aspect-ratio: 397/265;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 1rem;

      cursor: pointer;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.025);
      }

      .service-title {
        position: absolute;
        width: 13rem;
        bottom: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 1.15rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
      }
    }

    .service-description {
      color: var(--color-medium-gray);
      text-align: center;
    }
  }
}

@media (max-width: 1290px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      font-size: 5rem;
    }

    .navbar-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }

  .services .service-card .service-image .service-title {
    font-size: 1.2rem;
    width: 14rem;
  }
}

@media (max-width: 1149px) {
  .services {
    .service-card {
      .service-image {
        margin-bottom: 2rem;

        .service-title {
          font-size: 1.3rem;
          width: 16rem;
        }
      }
      .service-description {
        font-size: 1.12rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .services .service-card {
    .service-image .service-title {
      font-size: 1.2rem;
    }
    .service-description {
      font-size: 1.05rem;
    }
  }
}

@media (max-width: 737px) {
  .services {
    row-gap: 3rem;
  }

  .services .service-card {
    .service-image .service-title {
      font-size: 1.5rem;
      width: 18rem;
    }
    .service-description {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 650px) {
  .hero {
    height: 17rem;

    .content {
      font-size: 3.8rem;
    }
  }

  .services {
    margin-top: 3rem;
  }
}

@media (max-width: 550px) {
  .hero {
    height: 15rem;

    .content {
      font-size: 3.6rem;
    }
  }
}

@media (max-width: 450px) {
  .hero {
    height: 12rem;

    .content {
      font-size: 3.2rem;
    }
  }
}
