.intro {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  padding: 7rem 20rem;

  background-image: url("/images/shapes/net-background.svg");
  background-repeat: no-repeat;
  background-position: center;

  .heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }

  .description {
    color: var(--color-medium-gray);
    font-size: 1.3rem;
    text-align: center;
  }
}

.about {
  margin-bottom: 14rem;

  .row-1 {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    .card {
      .headline {
        margin-top: 2rem;
      }

      .highlight {
        color: var(--color-primary);
      }

      &-text {
        padding: 0;
        background: transparent;

        .headline {
          font-size: 3rem;
        }
        .subheadline {
          font-size: 1.25rem;
        }
      }

      &-training-cars {
        grid-row: span 2;
      }

      &-multilingual {
        .flags-bg {
          border-radius: 1.5rem;
          background-color: rgba(241, 223, 209, 1);

          position: relative;
          overflow: hidden;

          ::before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            background: radial-gradient(
              transparent 60%,
              var(--color-off-white) 170%
            );
            border-radius: 1.5rem;
          }

          .flags {
            width: 103%;
            height: 10.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: center;

            .flag-box {
              width: 4rem;
              height: 4rem;
              background: white;
              border-radius: 0.5rem;

              img {
                width: 3rem;
                height: 3rem;
                margin-left: 12.5%;
                margin-top: 12.5%;
              }

              &-1,
              &-6 {
                margin-top: -2.6rem;
              }

              &-3,
              &-4 {
                margin-top: 2.6rem;
              }
            }
          }
        }
      }
    }
  }

  .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    .card {
      display: flex;
      gap: 2rem;
      align-items: center;

      &-options {
        .outer-icon-container {
          width: 15.3rem;
          height: 15.3rem;
          background-color: rgba(249, 125, 2, 0.07);
          border-radius: 1.5rem;

          display: flex;
          align-items: center;
          justify-content: center;

          .icon-container {
            width: 6rem;
            height: 6rem;
            border-radius: 1.1rem;
            background-color: white;
            box-shadow: 0px 4px 50px 0px rgba(181, 67, 0, 0.29);

            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 5rem;
              height: 5rem;
            }
          }
        }

        .text {
          flex: 1;
        }
      }
    }
  }

  .card {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;

    .headline {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
    }
    .subheadline {
      color: var(--color-medium-gray);
      font-size: 1rem;
    }
  }
}

.continue-cta {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1267/301;

  .bg-shape-wrapper {
    position: absolute;
    inset: 0;
    z-index: 0;

    .bg-shape {
      width: 100%;
      height: 100%;
      path {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover .bg-shape {
      path {
        fill: var(--color-dark-gray);
      }
    }

    &:hover ~ .text {
      .headline {
        background: linear-gradient(
          91.09deg,
          #f57e28 38.49%,
          #f9be39 70.53%,
          #f9ae44 106.99%
        );
        background-clip: text;
        color: transparent;
      }
      .subheadline {
        color: #ffffff;
      }
    }
  }

  .text {
    text-align: center;
    width: 35rem;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    .headline {
      color: var(--color-dark-gray);
      font-size: 3rem;
      font-weight: 900 !important;
      margin-bottom: 3rem;
    }

    .subheadline {
      color: var(--color-dark-gray);
      font-size: 1.1rem;
    }
  }

  .send-request-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17rem !important;
    background-color: var(--color-dark-gray);
    color: white;
    // font-size: 1.1rem;
    // display: block;
    // margin: 0;
  }

  .contact-form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    width: 35%;
    height: auto;
    background: white;
    border-radius: 2rem;
    padding: 1.1rem;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    pointer-events: none;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    text-align: start;

    &.visible {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
    }

    .close-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      align-self: flex-end;
      padding: 0;
    }
  }
}
