.intro {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  padding: 7rem 20rem;

  background-image: url("/images/shapes/net-background.svg");
  background-repeat: no-repeat;
  background-position: center;

  .heading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .description {
    color: var(--color-medium-gray);
    font-size: 1.3rem;
    text-align: center;
  }
}

.about {
  .row-1 {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    .card {
      .headline {
        margin-top: 2rem;
      }

      .highlight {
        color: var(--color-primary);
      }

      &-text {
        padding: 0;

        .headline {
          font-size: 3rem;
        }
        .subheadline {
          font-size: 1.25rem;
        }
      }

      &-training-cars {
        grid-row: span 2;
      }

      &-multilingual {
        .flags-bg {
          border-radius: 1.5rem;
          background-color: rgba(241, 223, 209, 1);
          position: relative;
          overflow: hidden;

          ::before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            background: radial-gradient(
              transparent 60%,
              var(--color-off-white) 170%
            );

            // box-shadow:
            // inset 32px 0 32px -16px var(--color-off-white),
            //   inset -32px 0 32px -16px var(--color-off-white),
            //   inset 0 4px 8px -4px var(--color-off-white),
            //   inset 0 -4px 8px -4px var(--color-off-white);

            border-radius: 1.5rem;
          }

          .flags {
            width: 103%;
            height: 10.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: center;

            .flag-box {
              width: 4rem;
              height: 4rem;
              background: white;
              border-radius: 0.5rem;

              img {
                width: 3rem;
                height: 3rem;
                margin-left: 12.5%;
                margin-top: 12.5%;
              }

              &-1,
              &-6 {
                margin-top: -2.6rem;
              }

              &-3,
              &-4 {
                margin-top: 2.6rem;
              }
            }
          }
        }
      }
    }
  }

  .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    .card {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }

  .card {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;

    .headline {
      font-size: 2rem;
      font-weight: bold;
    }
    .subheadline {
      color: var(--color-medium-gray);
      font-size: 1rem;
    }
  }
}
