.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 1240 / 395;

  .hero-bg-shape {
    position: absolute;
  }

  .navbar-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    z-index: 1;

    color: white;
    font-size: 4rem;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 50%;
  gap: 10rem;
  color: var(--color-dark-gray);

  .contact-info {
    padding-top: 5rem;
    padding-left: 0.7rem;
    .headline {
      font-size: 3rem;

      .highlight {
        color: var(--color-primary);
      }
    }
    .subheadline {
      color: var(--color-medium-gray);
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      margin-top: 3rem;
      font-size: 1.2rem;

      .title {
        font-weight: bold;
        margin-bottom: 0.3rem;
      }

      .first-number,
      .second-number,
      .email-address,
      .location-address {
        color: var(--color-medium-gray);
      }

      // .call-info {
      //   display: flex;
      //   flex-direction: column;
      //   // gap: 0.5rem;
      // }

      .online-contact {
        display: flex;
        justify-content: space-between;
      }

      .social-media .social-icons {
        display: flex;
        gap: 0.5rem;

        button {
          display: flex;
          justify-content: center;
          align-items: center;

          border: none;
          border-radius: 50%;
          background-color: white;
          padding: 0.4rem;

          width: 2.2rem;
          height: 2.2rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .contact-form {
    height: 45rem;
    border-radius: 2.5rem;
    margin-top: -3rem;
    overflow: hidden;
  }
}

.net-background {
  position: absolute;
  left: 0;
  top: 49rem;
  z-index: -1;
  transform: scale(1.1);
}

.map {
  margin-top: 5rem;
  border-radius: 3rem;
  overflow: hidden;
  width: 100%;
  height: 28rem;
  background-color: var(--color-primary);
  // google-map {
  //   width: 100% !important;
  //   height: 100% !important;
  //   border-radius: 3rem;
  // }
}
