.hero {
  display: flex;
  flex-direction: column;
  height: 27rem;
  background-color: var(--color-dark-gray);
  border-radius: 2.5rem;

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;

    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  padding: 7rem 20rem;

  background-image: url("/images/shapes/net-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  text-align: center;

  .heading {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .description {
    color: var(--color-medium-gray);
    font-size: 1.2rem;
    text-align: center;
  }
}

.cars {
  padding: 5.5rem 0;
  background-color: white;
  border-radius: 2rem;

  .text-wrapper {
    width: 45rem;
    // padding: 0 6rem;
    margin-bottom: 5rem;
    padding: 0 5rem;

    .heading {
      font-size: 2.7rem;
      font-weight: 600;
      margin-bottom: 1rem;

      .highlight {
        color: var(--color-primary);
      }
    }

    .description {
      color: var(--color-medium-gray);
      font-size: 1.3rem;
    }
  }

  .slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    swiper-container {
      width: 100%;
      // height: 30rem;

      swiper-slide {
        aspect-ratio: 65 / 42; //very good choice for responsivity

        position: relative;
        width: 60% !important;
        height: 100%;
        overflow: hidden;
        transition:
          transform 0.4s ease,
          border-radius 0.4s ease,
          opacity 0.4s ease;
        transform-origin: center center;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::after {
          content: "";
          position: absolute;
          inset: 0; 
          background: linear-gradient(
            360deg,
            rgba(37, 37, 37, 0.56) 0%,
            rgba(37, 37, 37, 0) 100%
          );
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.4s ease;
        }

        &:not(.swiper-slide-active) {
          transform: scale(0.8);
          opacity: 0.6;
          border-radius: 0;
          z-index: 1;

          &.swiper-slide-prev {
            transform: scale(0.8) translateX(15%);
          }

          &.swiper-slide-next {
            transform: scale(0.8) translateX(-15%);
          }
        }

        &.swiper-slide-active {
          transform: scale(1);
          opacity: 1;
          border-radius: 2.5rem;
          z-index: 2;

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;

      width: 3rem;
      height: 3rem;

      background-color: var(--color-dark-gray);
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      z-index: 10; // above the slider
      transition: background 0.2s;
    }

    .next-btn {
      transform: translateY(-50%);
      right: 12rem;
    }

    .prev-btn {
      transform: translateY(-50%);
      left: 12rem;
    }
  }
}

@media (max-width: 1290px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      font-size: 5rem;
    }

    .navbar-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }

  .cars .text-wrapper {
    width: auto;
  }
}

@media (max-width: 1170px) {
  .intro {
    padding: 7rem 13rem;
  }

  .cars .slider-wrapper {
    .next-btn {
      right: 9rem;
    }
    .prev-btn {
      left: 9rem;
    }
  }
}

@media (max-width: 950px) {
  .hero {
    height: 23rem;
  }

  .intro {
    padding: 5.5rem 8.5rem;
  }

  .cars .slider-wrapper {
    .next-btn {
      right: 6rem;
    }
    .prev-btn {
      left: 6rem;
    }
  }
}

@media (max-width: 750px) {
  .hero {
    height: 19rem;

    .content {
      font-size: 3.5rem;
    }
  }

  .intro {
    padding: 4.5rem 6rem;

    .heading {
      font-size: 2rem;
    }
    .description {
      font-size: 1.1rem;
    }
  }

  .cars {
    padding-top: 4rem;

    .text-wrapper {
      padding: 0 2.5rem;
      margin-bottom: 4rem;

      .heading {
        font-size: 2.1rem;
      }
      .description {
        font-size: 1.1rem;
      }
    }

    .slider-wrapper {
      .next-btn {
        right: 4rem;
      }
      .prev-btn {
        left: 4rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    height: 16rem;

    .content {
      font-size: 3.3rem;
    }
  }

  .intro {
    padding: 3.5rem 4.5rem;
    gap: 0.8rem;
    .heading {
      font-size: 1.7rem;
    }
    .description {
      font-size: 1rem;
    }
  }

  .cars {
    padding: 3rem 0;

    .text-wrapper {
      padding: 0 2.5rem;
      margin-bottom: 4rem;

      .heading {
        font-size: 1.9rem;
      }
      .description {
        font-size: 1rem;
      }
    }

    .slider-wrapper {
      swiper-container swiper-slide.swiper-slide-active {
        border-radius: 2rem;
      }

      .prev-btn,
      .next-btn {
        width: 2.7rem;
        height: 2.7rem;
        img {
          width: 1rem;
          height: 1rem;
        }
      }

      .next-btn {
        right: 2.5rem;
      }
      .prev-btn {
        left: 2.5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    height: 14rem;

    .content {
      font-size: 3rem;
    }
  }

  .intro {
    padding: 3rem 3rem;
  }

  .slider-wrapper swiper-container swiper-slide.swiper-slide-active {
    border-radius: 1.7rem;
  }
}

@media (max-width: 400px) {
  .hero {
    height: 12rem;

    .content {
      font-size: 2.5rem;
    }
  }

  .intro {
    padding: 3rem 2rem;
    gap: 0.7rem;
    .heading {
      font-size: 1.5rem;
    }
    .description {
      font-size: 0.8rem;
    }
  }

  .cars {
    padding: 3rem 0;

    .text-wrapper {
      padding: 0 1.5rem;
      margin-bottom: 2.7rem;

      .heading {
        font-size: 1.5rem;
      }
      .description {
        font-size: 0.8rem;
      }
    }

    .slider-wrapper {
      swiper-container swiper-slide.swiper-slide-active {
        border-radius: 1.4rem;
      }
      .prev-btn,
      .next-btn {
        width: 2.4rem;
        height: 2.4rem;
        img {
          width: 0.8rem;
          height: 0.8rem;
        }
      }

      .next-btn {
        right: 1.5rem;
      }
      .prev-btn {
        left: 1.5rem;
      }
    }
  }
}
