@import "@fontsource/afacad-flux";

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: #fafafa;
}

:root {
  --color-light-primary: #fff6ed;
  --color-primary: #dc5e15;

  --color-off-white: #f0f0f0;
  --color-light-gray: #f8f8f8;
  --color-medium-gray: #909090;
  --color-gray: #5d5b5b;
  --color-dark-gray: #333333;

  //Alerts
  --color-success: #008080;
  --color-warning: #dca015;
  --color-danger: #e74c3c;

  //Typography
  --font-primary: "Afacad Flux", sans-serif;

  //
  --navbar-height: 5.3rem;
  --page-side-padding: 7rem;
  --page-top-padding: 5rem;
}

.send-request-btn {
  margin: 0 auto;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 1.7rem;
  padding: 1.5rem 2.1rem;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
  font-family: var(--font-primary);

  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease;

  &:hover {
    filter: brightness(1.1);
    transform: scale(1.005);
  }

  &:active {
    transform: scale(0.995);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;

  z-index: 1000;
  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

body.modal-open {
  overflow: hidden; //scroll not allowed
}

@media (max-width: 1290px) {
  html {
    font-size: 85%;
  }
}
